{% load crispy_forms_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<body>
<form action="patient_otp" method="post">
    {% csrf_token %}
    <h1 style="color:black; text-align: center; margin-top: 30px; margin-left: 5px;">WELCOME Patient Dashboard</h1>
    <nav class="user-tabs mb-4">
        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="#pat_appointments"
              data-toggle="tab"
              >Appointments</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#pat_prescriptions"
              data-toggle="tab"
              >Prescriptions</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#pat_medical_records"
              data-toggle="tab"
              ><span class="med-records">Medical Records</span></a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#pat_billing"
              data-toggle="tab"
              >Billing</a
            >
          </li>
        </ul>
      </nav>
    <div style="text-align: center;" class="form-group">
        <input class="btn btn-primary" type="submit" value="Verify Documents">
    </div>
</form>
</body>

